* {
	box-sizing: border-box;
	outline: none;
}


body {
	font-size: 0;
	margin: 0;
	min-width: 980px;
	/*max-width: 1920px;*/
	overflow-x: hidden;
}

.section_1 {
	padding: 40px 120px 260px;
	position: relative;
	background-image: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('./img/layer-5.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	/*overflow: hidden;*/
}

.section_1::before,
.section_1::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
}

.section_1::before {
	border-bottom: 250px solid #fff;
	border-right: 2200px solid transparent;
	right: 50%;
}

.section_1::after {
	border-bottom: 250px solid #fff;
	border-left: 2200px solid transparent;
	left: 50%;
}

.m_width {
	max-width: 1170px;
	min-width: 980px;
	margin: 0 auto;
}

.logo {
	width: 141px;
	display: inline-block;
	vertical-align: middle;
}

.nav {
	width: calc(100% - 141px);
	padding-left: 20px;
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.nav_link {
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: #f4f5f9;
	height: 52px;
	line-height: 52px;
	font-weight: 700;
	transition: color .3s;
	margin-left: 60px;
	display: inline-block;
	vertical-align: middle;
}

.nav_link:first-child {
	margin-left: 0;
}

.nav_link:hover {
	color: #e74c3c;
	border-bottom: 1px solid #e74c3c;
}

.section_content {
	margin-top: 235px;
	text-align: center;
}

.subtitle {
	color: #f4f5f9;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1.2px;
}

h1 {
	color: #f4f5f9;
	font-family: "Open Sans";
	font-size: 72px;
	font-weight: 700;
	margin: 45px 0 0 0;
	text-transform: uppercase;
	letter-spacing: 7.2px;
}

.style_circle {
	position: relative;
	display: inline-block;
	margin-top: 45px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #e74c3c;
}

.style_circle::before,
.style_circle::after {
	content: '';
	display: block;
	width: 80px;
	height: 2px;
	position: absolute;
	top: 3px;
	background: #f1ebe7;
}

.style_circle::before {
	right: calc(100% + 14px);
}
.style_circle::after {
	left: calc(100% + 14px);
}

.description {
	max-width: 580px;
	margin: 0 auto;
	color: #cbc6c0;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 45px;
}

.buttons {
	margin-top: 68px;
}

.main_button {
	width: 225px;
	padding: 22px;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
	background: transparent;
	border: 1px solid #ffffff;
	border-radius: 3px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: -0.24px;
	text-align: center;
	cursor: pointer;
}

.m_primary:hover {
	border: 1px solid #ffffff;
}

.m_primary {
	background-color: #e74c3c;
	border: none;
	margin-right: 30px;
}

.m_secondary:hover {
	background-color: #e74c3c;
	border: 1px solid rgba(255, 255, 255, 0);
}

.anchor_btn {
	position: absolute;
	bottom: -37px;
	left: calc(50% - 37px);
	width: 74px;
	height: 74px;
	background: rgba(255, 255, 255, .25);
	border-radius: 50%;
	padding: 5px;
	border: none;
	z-index: 1;
	cursor: pointer;
	transition: background .3s;
}

.anchor_btn:hover {
	background: rgba(231, 76, 60, 1);
}

.anchor_inner {
	width: 64px;
	height: 64px;
	background: #f4f5f9;
	border-radius: 50%;
}

.anchor_btn svg {
	width: 22px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*============================
BLOCK 2
============================*/

.section_2 {
	padding: 124px 120px 100px;
	min-height: 433px;
	border-bottom: 1px solid #e6e7eb;
}

.section_2_content {
	width: calc((100% - 56px * 3) / 4);
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-right: 56px;
	position: relative;
}

.section_2_content:hover .rotate_icon {
	transform: rotate(45deg);
	border-color: #e74c3c;
}

.section_2_content:hover h3{
	color: #e74c3c;
}

.square4 {
	margin-right: 0px;
}

.rotate_icon {
	width: 73px;
	height: 73px;
	border: 1px solid rgba(153, 153, 153, 0.25);
	margin: 0 auto;
	margin-bottom: 30px;
	transition: transform .4s ease-out;
}

.section_2_content img {
	position: absolute;
	top: 36px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section_2_content h3 {
	color: #6a6a6a;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.35px;
	transition: color .4s ease-out;
}

.section_2_content p {
	color: #999999;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 0.9px;
	margin-top: 17px;
}

.section_2_content hr {
	width: 41px;
	height: 3px;
	color: #6a6a6a;
}

/*================================================
БЛОК 3
================================================*/

.section_3 {
	min-height: 694px;
	padding: 140px 120px;
}

.section_3 img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 77px;
}

.section_3_content {
	width: calc(100% - 583px);
	min-height: 407px;
	display: inline-block;
	vertical-align: middle;
}

.section_3_content h2 {
	color: #6a6a6a;
	font-family: "Source Sans Pro";
	font-size: 36px;
	line-height: 1.03em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	margin: 0 0 46px 0;
	padding-left: 29px;
	border-left: 6px solid #e74c3c;
}

.section_3_content p {
	color: #999999;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
}

.p_with_margin {
	margin-top: 24px;
}

/*===========================================
БЛОК 4
===========================================*/

.section_4 {
	/*padding: 0 120px;*/
	min-height: 768px;
	display: table;
	width: 100%;
}


.section_4_left {
	width: 54%;
	display: table-cell;
	background: #202020;
	position: relative;
	padding: 150px 81px 130px 120px;
	vertical-align: middle;
	text-align: right;
}

.section_4_right {
	width: 46%;
	display: table-cell;
	vertical-align: middle;
	background-image: url(./img/planshet.png);
	background-position: center;
	background-size: cover;
	padding-right: 120px;
}

.lines {
	position: absolute;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
}

.line {
	height: 34px;
	width: 2px;
	background: #999999;
	opacity: 0.25;
}

.line.middle {
	margin: 11px 0px;
	transform: scaleX(1.2);
	background: #e74c3c;
	opacity: 1;
}


.section_4_left h2 {
	color: #f4f5f9;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	padding-right: 30px;
	line-height: 1.03em;
	margin: 0px;
	border-right: 6px solid #e74c3c;
}

.text_container {
	text-align: right;
	max-width: 563px;
	min-height: 80px;
	margin-left: auto;
	margin-top: 65px;
	position: relative;
}

.text_container button {
	width: 72px;
	height: 72px;
	position: absolute;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	right: -116px;
	border: none;
	padding: 4px;
}

.button_inner {
	width: 64px;
	height: 64px;
	background: #f4f5f9;
	border-radius: 50%;
}

.button_inner img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.text_container.container2 {
	max-width: 450px;
}

.section_4_left h3 {
	color: #e74c3c;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
	text-transform: uppercase;
	margin: 0px;
}

.section_4_left p {
	color: #999999;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	margin: 0;
}
/*=======================================
БЛОК 5
=======================================*/

.section_5 {
	padding-top: 140px;
	text-align: center;
}

.section_5 h2 {
	color: #6a6a6a;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	margin-top: 0;
	line-height: 1em;
}

.subtitle {
	color: #999999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	line-height: 1em;
}

.section_5_content {
	margin-top: 50px;
	text-align: left;
}

.section_5_pic {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	position: relative;
}

.section_5_pic img {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.pic5-hover {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	background: rgba(231, 76, 60, 0.8);
	top: 0;
	opacity: 0;
	transition: opacity .5s ease-out;
}

.pic5-hover:hover {
	opacity: 1;
}

.pic5-line {
	width: 44px;
	height: 4px;
	background-color: #ffffff;
}

.pic5-hover h3 {
	color: #ffffff;
	font-family: Source Sans Pro;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	margin: 31px 0 21px;
	line-height: 1em;
}

.pic5-hover p {
	color: #ffffff;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.7px;
	margin: 0;
	line-height: 1em;
}

.text_to_bottom {
	position: absolute;
	margin: 50px;
	bottom: 0;
}

.style_circle.second {
	margin-top: 36px;
	display: inline-block;
}

.section_5_nav {
	color: #999999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 68px;
}

.section_5_nav a {
	text-decoration: none;
	color: #999999;
	margin: 0 20px;
}

#checked_link {
	color: #e64b3c;
	font-weight: 700;
}

.section_5_nav a:hover {
	color: #e64b3c;
	font-weight: 700;
}

/*=============================================
БЛОК 6
=============================================*/

.section_6 {
	min-height: 1186px;
	padding: 150px 120px 0;
	text-align: center;
	background-color: #f4f5f9;
}

.section_6 h2 {
	color: #6a6a6a;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	line-height: 1em;
	letter-spacing: 3.6px;
	margin-top: 0;
}

.section_6 p {
	color: #999999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 1em;
	margin: 0 0 28px 0;
}

.style_circle.third {
	margin: 0;
}

.section_6_content {
	margin-top: 67px;
}

.section_6_slider {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 505px);
	min-height: 629px;
	z-index: 3;
	background-color: #ffffff;
	margin-right: -80px;
	position: relative;
	text-align: center;
	padding: 80px 61px 40px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.slider_romb {
	width: 127px;
	height: 127px;
	background: url(./img/romb.png);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto 54px;
	position: relative;
}

.slider_romb img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.section_6_slider h3 {
	color: #6a6a6a;
	font-family: Open Sans;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.35px;
	line-height: 1em;
}

.slider_line {
	width: 41px;
	height: 2px;
	background-color: #6a6a6a;
	margin: 29px auto 22px;
	opacity: 0.8;
}

.section_6_slider p {
	color: #999999;
	font-family: Source Sans Pro;
	font-size: 14px;
	/*font-weight: bold;*/
	line-height: 24px;
	letter-spacing: 1.05px;
	margin-bottom: 43px;
}

.section_6_slider button {
	padding: 18px 38px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 12px;
	line-height: 1em;
	font-weight: 400;
	letter-spacing: 0.14px;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
	background-color: #e74c3c;
	border: none;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 53px;
}

.comp-img {
	display: inline-block;
	vertical-align: middle;
	z-index: 1;
	position: relative;
}

.radiob {
	display: none;
}

.label_for_radio {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #f4f5f9;
	margin: 0 4px;
	display: inline-block;
	cursor: pointer;
}

.radiob:checked + .label_for_radio {
	background-color: #e74c3c;
}

/*=========================================
БЛОК 7
=========================================*/

.section_7 {
	min-height: 511px;
	text-align: center;
	background: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./img/back-7.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 157px 100px 100px;
}

.sec7_container {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: calc((100% - 85px * 4) / 5);
	margin-right: 85px;
}

.sec7_container:hover .div7_with_icon {
	background: #e74c3c;
}

.sec7_container:hover .number {
	color: #e74c3c;
}

.div7_with_icon {
	height: 111px;
	width: 111px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
	transition: background .3s;
}

.div7_with_icon img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sec7_container:nth-child(5) {
	margin-right: 0;
}

.number {
	color: #f4f5f9;
	font-family: "Source Sans Pro";
	line-height: 1em;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1.5px;
	margin: 49px 0 10px;
	transition: color .3s;
}

.number_subtitle {
	color: #f4f5f9;
	font-family: "Source Sans Pro";
	line-height: 1em;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.9px;
	opacity: 0.8;
	margin: 0;
}

/*=============================================
БЛОК 8
=============================================*/

.section_8 {
	min-height: 1077px;
	padding: 156px 100px 100px;
	text-align: center;
}

.section_8 h2 {
	color: #6a6a6a;
	font-family: "Source Sans Pro";
	font-size: 36px;
	letter-spacing: 3.6px;
	margin: 0;
	line-height: 1em;
}

.sec8_subtitle {
	color: #999999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 1em;
	margin: 28px 0 0;
}

.style_circle.fourth {
	margin-top: 28px;
}

.section_8_content {
	margin-top: 67px;
}

.price_plan {
	width: calc((100% - 30px) / 3);
	min-height: 609px;
	display: inline-block;
	vertical-align: top;
	background: #f4f5f9;
	text-align: center;
	margin-left: 15px;
}

.price_plan:first-child {
	margin-left: 0;
}

.price_header {
	width: 100%;
	min-height: 205px;
	background: #999999;
	position: relative;
	padding: 50px 15px 80px;
	margin-bottom: 111px;
	transition: background 0.3s ease-out;
}

.price_header h3 {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1.8px;
	margin: 0px;
}

.price_label {
	width: 174px;
	height: 174px;
	background: rgba(244, 245, 249, 0.25);
	position: absolute;
	border-radius: 50%;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
	padding: 11px;
}

.price_inner {
	width: 152px;
	height: 152px;
	background: white;
	border-radius: 50%;
}

.inner_p {
	color: #999999;
	font-family: "Source Sans Pro";
	font-size: 13px;
	font-weight: bold;
	line-height: 21.95px;
	font-weight: 400;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.inner_p span {
	font-size: 40px;
	font-weight: 700;
	transition: color 0.3s ease-out;
}

.price_text {
	width: 205px;
	color: #999999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
	margin: 0 auto 34px;
}

.price_button {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.14px;
	line-height: 1em;
	padding: 18px 31px;
	background: #999999;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
	transition: background 0.3s ease-out;
}

.price_plan:hover .price_header,
.price_plan:hover .price_button {
	background: #e74c3c;
}

.price_button:hover {
	border: 1px solid rgba(255, 255, 255, 1);
}

.price_plan:hover .inner_p span {
	color: #e74c3c;
}

/*===========================================================
БЛОК 9
===========================================================*/

.section_9 {
	background: linear-gradient(to right, rgba(32, 32, 32, 0.75), rgba(32, 32, 32, 0.75)), url('./img/back_for_9.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	text-align: center;
}

.m_width.sec9 {
	position: relative;
	z-index: 1;
	min-height: 744px;
	padding: 150px 0 50px;
}

.red-wave {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	min-width: 2000px;
	height: calc(100% - 92px);
	z-index: 0;
	margin-top: 92px;
}

.section_9 h2 {
	color: #ffffff;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 3.6px;
	line-height: 1em;
	margin: 0;
}

.sec9_subtitle {
	color: #f4f5f9;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 1em;
	opacity: 0.8;
	margin: 29px 0 0;
}

.style_circle.five {
	margin-top: 28px;
}

.style_circle.five::before,
.style_circle.five::after {
	opacity: 0.6;
	height: 1px;
}

.foto_container {
	position: absolute;
	text-align: center;
}

.foto_container.foto1 {
	top: 59%;
	left: 28px;
	transform: translateX(-50%);
}
.foto_container.foto2{
	top: 53%;
	left: 25%;
	transform: translateX(-50%);
}
.foto_container.foto3 {
	top: 52%;
	left: 50%;
	transform: translateX(-50%);
}
.foto_container.foto4{
	top: calc(57% + 2px);
	right: 25%;
	transform: translateX(50%);
}
.foto_container.foto5 {
	top: 52%;
	right: 28px;
	transform: translateX(50%);
}

.foto_div {
	position: relative;
	z-index: 3;
	transition: transform .3s ease-out;
	/*padding: 3px;*/
	border-radius: 50%;
	background: #e74c3c;
	width: 56px;
	height: 56px;
	margin: 0 auto;
	cursor: pointer;
}

.foto {
	border-radius: 50%;
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.foto_hover {
	background: rgba(231, 76, 60, 0.5);
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 4;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.foto_div:hover {
	transform: scale(1.5);
	box-shadow: 0 5px 20px black;
}

.foto_div:hover .foto_hover {
	opacity: 1;
}

.foto_div:hover + .hover_text {
	opacity: 1;
	transition: opacity .3s .3s ease-out;
}

.hover_text {
	margin-top: -35px;
	opacity: 0;
}

.vertical_line {
	width: 1px;
	height: 107px;
	border: 1px solid #ffffff;
	opacity: 0.5;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.hover_name {
	color: #e74c3c;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1.8px;
	margin: 30px 0 19px;
	line-height: 1em;
}

.hover_subtitle {
	color: #ffffff;
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1.4px;
	line-height: 1em;
	margin: 0;
}

/*=======================================================
BLOCK 10
=======================================================*/

.section_10 {
	min-height: 714px;
	text-align: center;
	background: #f4f5f9;
	padding: 150px 100px 100px;
}

.section_10 h2 {
	text-shadow: 0 1px 0 #ffffff;
	color: #6a6a6a;
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 700;
	line-height: 1em;
	margin-top: 0;
}

.section_10 p {
	color: #999999;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin: 0;
}

.style_circle.six {
	margin-top: 28px;
}

.partners_container {
	margin-top: 67px;
}

.partner {
	/*width: 210px;*/
	width: calc((100% - 120px) / 5);
	height: 100px;
	display: inline-block;
	vertical-align: top;
	font-size: 92px;
	color: #bcbcbc;
	background: #ffffff;
	box-shadow: 0 1px 3px rgba(31, 31, 31, 0.09);
	margin: 0 30px 29px 0;
	position: relative;
	cursor: pointer;
	/*transition: background .3s;*/
	/*transition: color .3s;*/
}

.partner:nth-child(5),
.partner:nth-child(10){
	margin-right: 0;
}

.partner:hover {
	background: #e74e3e;
	color: white;
	box-shadow: 0 3px 9px 1px rgba(31, 31, 31, 0.3);
}

.fab {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}